<!DOCTYPE html>
 <html>
        <head>
        <meta charset="ISO-8859-1">
        <title>Courses</title>
        <link rel="stylesheet" type="text/css"
                href="../styles/pupilAcessStyleSheet.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"><!--link to external style sheet for font-->
        </head>
        <body>
            <header><!--This is the header of the page common across all pages-->
                 <div class="title_container w3-tangerine" id="top" ><!-- begining of title container -->
                    <p class="w3-jumbo"><b>Fatima Jinnah Dental College</b></p>
                 </div>

                <div class ="menu_container"><!--main flex container having flex item -->
                <div class="menu_item"><!--menu item containing the logo-->
                    <img src="../images/logo.jpg" width="100px" height="100px"/>
                </div>
                <div class="menu_item"><!--the navagation bar of the page with drop down menu-->
                    <nav>
                        <ul>
                            <li>
                                
                                <a href="../index.html">Home</a>
                            </li>
                            <li class="dropdown"><a href="departments.html">Departments</a><!--Nested ul and li for dropdown-->
                                <ul>
                                    <li class="dropdown-content"><a href="departments.html">Clinical</a></li>
                                    <li class="dropdown-content"><a href="departments.html">Pre-Clinical</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="studentRegistrationForm.html">Registration</a>
                            </li>
                            
                            <li>
                                <a href="studentLogin.html"> Student Login</a>
                            </li>
                            <li>
                                <a href="contactus.html">Contact Us</a>
                                <li>
                                <a href="videos.html">Videos</a>
                            </li>
                            <li><!--animation used on search bar-->
                                <input class="animation" name="searchbar" placeholder="search" type="searchbar" color="white">
                            </li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- end of menu container -->

        </header>

        
            <main class="main">
            <!--main class containing two blocks that are not repeated across other pages-->

            <div class="welcome">Clinical
                <p class="para">
                            <strong>Clinical</strong><br/>
                 

                        The clinical campus comprises of two separate buildings facing each other on 100 Foot 
                        Road, Azam Town, adjacent
                        to Phase I, Defence Housing Authority. Here the clinical dental teaching and training
                         is undertaken with great enthusiasm and the students are exposed to a large number of cases on a daily basis.

                        The adjoining localities makeup a very healthy catchment area, where the hospital
                         is within easy reach for over two million people. This strategic location together
                          with the excellent reputation, spanning over 20 years of clinical care, make it a 
                          top dental training centre in Pakistan.

                        The other building is the recently developed Azam Town General Hospital, which has 
                        been specially geared up for the teaching of general medicine and general surgery to 
                        the third professional BDS students. This facility is for the training and teaching 
                        of BDS students alone and not to be shared by MBBS students.

                        The exposure to medical and surgical cases is maximized. This unique advantage
                         ensures highest standard of unmatched education, clinical teaching and training.
                        </p>


            </div>
            
        </main>


         <!--footer of the page containing link to top of page, copyright and webmaster email-->
             <footer>
                <div class="footer">
                    <a href="#top">Back To Top</a><br />
                    &copy Kokab Askary<br />
                    WebMaster:kokabaskary@gmail.com
                </div>
            </footer>
        </body>
</html>