<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    
<body>
    

        <main class="main">
            <!--main class containing two blocks that are not repeated across other pages-->

            <div class="mainContact">
                
             <form class="mainForm" id="form" method="post" action="re">
                   <h1 >Keep in Touch</h1>
                    <div class="field_container">  
                        <label for ="name">Name</label><br/>
                        <input class="inputText" id="name" type="text" pattern="^[a-zA-Z0-9_.-]*$[a-zA-Z_.-]*$" required/><br/>
                    </div>
                    <div class="field_container">
                        <label for ="email">Email</label><br/>
                        <input class="inputText" id="email" type="email" required/><br/>
                    </div>
                    <div class="field_container">
                        <label for ="subject">Subject</label><br/>
                        <input class="inputText" id="subject" type="text" /><br/>
                    </div>
                    <div class="field_container">
                        <label for ="message">Message</label><br/>
                        <textarea class="inputText" rows="6" cols="47"></textarea><br/><br/>
                    </div>
                    <!-- <div class="button_container"> -->
				        <input id="backcolor" type="submit" value="Submit"/>
                    <!-- </div> -->

                </form>
  
            </div>
            <!-- <aside>
               
            </aside> -->

        </main>

       
<div id = "feedback">
            </div>


        
   
                   
</body>

</html>

