<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>practice</title>
	<style >
		body{background-color: black;}
		
			div{
				margin-left:5%;
				margin-top:5%;
				background-color: #262626 ;
				width:700px;
				height:300px;
				display:inline-block}
				
			div div{
			width:296px;
				height:200px;
			
			background-color: pink ;
			}
			
			
			
			span{}
			
	
	
	</style>
	</head>
	<body>
	
		<div >
			
			<div >
				<span>name</span><br/>
				<span>address</span><br/>
				<span>email</span><br/>
				<span>website</span><br/>
			</div>
			
			<div >
				
				
				</div>
			
			
			</div>
		
		
		
	</body>
</html>