<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Resume </title>
	<link rel="stylesheet"
		  type="text/css"
		  href="../styles/ResumeExternalStyleSheet.css">
		
	</head>
	<body>
		<header></header>
	
		<!-- adding a parent div to have 2 child divs, one for image, name and title the other a table  containing bio data -->
			<div id="mainoutercontainer" ><!-- main outer top container containing 2 containers -->
		
				<div id="image_container" ><!-- image, name and title container -->
						
					<p><img src="../images/mypic.jpg"
						alt="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-1/c1.0.160.160a/p160x160/50019035_104573527311461_2219509699798106112_n.jpg?_nc_cat=107&_nc_ht=scontent-iad3-1.xx&oh=da8ce631f945081331ec715d759c31e2&oe=5CF6FFAF"
				 	height="150" width="150" align="left" />
				 	<span class="toplevel">&nbsp;&nbsp; &nbsp;KOKAB ASKARY</span> </p>
				  	<p style="color: #00a3cc">&nbsp;&nbsp; &nbsp;Software Developer<br></p>
				  	<p></p>
				
				 </div><!-- end of image container div -->
				  
				  <!-- second sibling containing a table  bio data  -->
			     <div id ="table">
					
					<table >
						  <tr>
						    <td><span>Name:</span></td>
						    <td>Kokab Askary</td>
						  </tr>
						   
						  <tr>
						    <td><span>Address:</span></td>
						    <td>123 Lake View Drive NY 12345</td>
						  </tr>
						  
						  <tr>
						    <td><span>Phone:</span></td>
						    <td>929-008-7867</td>
						  </tr>
						  
						  <tr>
						    <td><span>Email:</span></td>
						    <td>kokabaskary@gmail.com</td>
						  </tr>
						  
						  <tr>
						    <td><span>website:</span></td>
						    <td style="color:#00a3cc">www.kokabaskary.com</td>
						  </tr>
						</table>
				</div><!-- ending of table div -->
				
			
				<div class="text"><!-- Starting of text container of upper container -->
						<br><br><br><br>&nbsp;"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 ut aliquip ex ea commodo consequat.<br><br><br>
				</div><!-- ending of text container of upper container -->
					<hr>
				</div><!-- closing of top outer container -->
		
		
			<!-- starting of lower main container having 2 in-line boxes left and right -->
				<div class="lowerMainContainer">
		
						<div class="leftlowerbox"><!-- div for lower left container  -->
							
							<div class="headings">
								<span class ="levelone">&nbsp;Employment</span><br/><br/>
							</div>
					
							<div class="title">
								<br/><span class ="levelone" id="alignleft">&nbsp;&nbsp;ABC Communications</span>
								<span class ="leveltwo" id="alignright">2007-2010.</span><br><br/>
								<span class ="leveltwo">&nbsp;&nbsp; &nbsp;Director of dept</span>
								<p><span class ="leveltwo">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								  &nbsp;&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
								  &nbsp;&nbsp;ut aliquip ex ea commodo consequat.</span></p><br/>	 <hr>
							</div>
				
							<div class="title">
					  		
								<br/><span class ="levelone" id="alignleft">&nbsp;&nbsp;Innovative Technologies</span>
								<span class ="leveltwo" id="alignright">2005-2007.</span><br/><br/>
								<span class ="leveltwo">&nbsp;&nbsp; &nbsp;Software Developer</span>
								
								
								<p><span class ="leveltwo" >&nbsp;&nbsp;"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								  &nbsp;&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
								  &nbsp;&nbsp;ut aliquip ex ea commodo consequat.</span></p> <br/><br/>
								  <hr/>
					  		 </div>
				  	 
				  	 <!-- block for education  -->
						 
							<div class="headings">
					
					 			<span class ="levelone">&nbsp;Education</span><br/><br/>
							</div>
							<div class="title">
						        <br/><span class ="levelone" id="alignleft">&nbsp;&nbsp;NYCU</span>
								<span class ="leveltwo" id="alignright">2001-2005.</span><br/><br/>
								<span class ="leveltwo">&nbsp;&nbsp;&nbsp;Computer Engineering</span>
								
					
								<p><span class ="leveltwo">&nbsp;&nbsp;"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							  	 &nbsp;&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
							  	 &nbsp;&nbsp;ut aliquip ex ea commodo consequat.</span></p><br/> <hr/>
				  	 		</div>
				  	
				  	 
				  	 		<div class="title">
					  	 	
								<br/><span class ="levelone" id="alignleft">&nbsp;&nbsp;XYZ School of Science</span>
								<span class ="leveltwo" id="alignright">2000-2001.</span><br/><br/>
								<span class ="leveltwo">&nbsp;&nbsp;&nbsp;Software Developemet Course</span>
								
								<p><span class ="leveltwo" >&nbsp;&nbsp;"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							  	 &nbsp;&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
							  	 &nbsp;&nbsp;ut aliquip ex ea commodo consequat.</span></p>
							  	 
						  	 <hr>
						  	</div>
					  
				
				</div><!-- closing div for lower left box -->
			
				
			
				<div class="progress"><!-- container for lower right container containing progressbar -->
					
						<div class="progressbar">
							<span class ="levelone" >Programming Skills</span><br/>
							<span class ="leveltwo" >Java</span><br>
							<progress id="dirtyblue" value ="50" max="100" >50% </progress><br/>
							<span class ="leveltwo">Java Script</span><br>
							<progress id="blue" value ="70" max="100" >70%</progress><br/>
							<span class ="leveltwo" >HTML</span><br>
							<progress id="green" value ="68" max="100" >68%</progress><br/>
							
							<span class ="leveltwo">Boot Strap</span><br>
							<progress id="red" value ="10" max="100" >10%</progress><br/>
							
						</div>
						<div class="bulletpoint">
						
							<br/><br/><br/><span class ="levelone">Graphic Skills</span>
							<ul>
							<li class="bulletsquare" style= "color: blue;"><span class ="leveltwo">Adobe Photoshop</li></span>
							<li class="bulletsquare" style= "color: lightblue;"><span class ="leveltwo">Aadobe Illistrator</li></span>
							<li class="bulletsquare" style= "color: green;"><span class ="leveltwo">Adobe Instyle</li></span>
							<li class="bulletsquare" style= "color: yellow;"><span class ="leveltwo">Coral Draw</li></span>
							<li class="bulletsquare" style= "color: red;"><span class ="leveltwo">3D MAX</li></span>
						
							</ul>
						</div><br/>
						
						<div class="language">
							<span class ="levelone">Language Skills</span><br/>
								<ul style="list-style-type:none;">
								   <span class ="leveltwo"><li>English&nbsp;</span>
								   <span class="dot" id="orange"></span>
								   <span class="dot" id="orange"></span>
								   <span class="dot" id="orange"></span></li></br>
								   <span class ="leveltwo"><li>Urdu&nbsp;&nbsp;</span>
								   <span class="dot" id="yellow"></span>
								   <span class="dot" id="yellow"></span>
								   <span class="dot" id="yellow"></span>
								   <span class="dot" id="yellow"></span>
								  </li></br>
								</ul>	
						</div>
					</div><!-- closing progress container right box -->
			</div><!-- closing div for lower main container -->	
			
		<footer></footer>
	</body>
</html>