<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Family Tree</title>
    <link rel="stylesheet" type="text/css" href="../styles/familyAlbumStyleSheet.css">
    <link rel="stylesheet"
			  type="text/css"
			  href="../styles/flexBoxExternalStyleSheetSlide27.css">
    </head>
    <body>
         <div class="outerContainer"><!--main container-->
            <header><!--header of the page containing nav and menu bar-->
                <div class="heading" id="top">
                    <p>My Family Album</p>
                 </div>
                
                  <nav class="flex-container menuBackground">
                     
                     <ul class="nav  flex-container">
                         <li><a href="../index.html">Home</a></li>
                         <li><a href="ourStory.html">Our Story</a></li>
                         <li><a href="familyTree.html">Family Tree</a></li>
                         <li><a href="contactUs.html">Keep In Touch</a></li>
                         <li><a href="photosVideos.html">Photos & Videos</a></li>
                     </ul>
                    </nav>
               
            </header>


                <div class ="flex_container">
				<div class="flex_item flex_item_expanded">
					<img src="../images/familyTreeText.jpg " height="300px" />
				</div>
				<div class="flex_item last_item">
					<div class="animation">Our Family Tree</div>
				</div>
				<div class="flex_item last_item">
					<img src="../images/familyshillute.jpg "/><img src="../images/family1.jpg "/>
				</div>
				<div class="flex_item second_item">
					<div class="animation">The Grand Parents</div>
				</div>
				<div class="flex_item flex_item_expanded">
					<img src="../images/images (1).jpg "/><img src="../images/family1.jpg "/>
				</div>
				<div class="flex_item second_item">
					<img src="../images/images.jpg "/><img src="../images/grandparents(1).jpg "/>
				</div>
					
			</div><!-- end of menu container -->
	









            <footer><!--footer of the page containing link to top of page, copyright and webmaster email-->
            <div>
                <a href="#top">Back To Top</a><br/>
                 &copy Kokab Askary<br/>
                 WebMaster:kokabaskary@gmail.com</div>
            </footer>
        </div>
    </body>
</html>