<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Photos & Videos</title>
    <link rel="stylesheet" type="text/css" href="../styles/familyAlbumStyleSheet.css">
   
    </head>
    <body>
        <div class="outerContainer"><!--main container-->
            <header><!--header of the page containing nav and menu bar-->
                <div class="heading" id="top">
                    <p>My Family Album</p>
                 </div>
                
                  <nav class="flex-container menuBackground">
                     
                     <ul class="nav  flex-container">
                         <li><a href="../index.html">Home</a></li>
                         <li><a href="ourStory.html">Our Story</a></li>
                         <li><a href="familyTree.html">Family Tree</a></li>
                         <li><a href="contactUs.html">Keep In Touch</a></li>
                         <li><a href="photosVideos.html">Photos & Videos</a></li>
                     </ul>
                    </nav>
               
            </header>

                <main class="mainVideo">
                    <!--main class containing two blocks that are not repeated across other pages-->

                    <div class="video">Our Videos
                        <video src="../videos/SampleVideo_1280x720_2mb.mp4"
                            poster="../images/bunny.jpg"
                            width="400"
                            height="400"
                            loop muted autoplay controls>
                            <img src="../images/familyshillute.jpg">
                        </video>
                        <button>
                           <a href="https://www.w3schools.com/html/" style="background-color:orange;">For more videos visit</a>
                        </button>
                    </div>

                    <aside>Photo Gallery<!--Side container for photo gallery thumbnail-->

                       <a target="_blank" href="../images/images (1).jpg">
                        <img src="../images/images (1).jpg" alt="family" style="width:150px">
                        </a>
                       <a target="_blank" href="../images/images.jpg">
                        <img src="../images/images.jpg" alt="family" style="width:150px">
                        </a>
                        <a target="_blank" href="../images/grandparents(1).jpg">
                        <img src="../images/grandparents(1).jpg" alt="family" style="width:150px">
                        </a>
                        <a target="_blank" href="../images/familyshillute.jpg">
                        <img src="../images/familyshillute.jpg" alt="family" style="width:150px">
                        </a>

                    </aside>

                </main>





            <footer><!--footer of the page containing link to top of page, copyright and webmaster email-->
            <div>
                <a href="#top">Back To Top</a><br/>
                 &copy Kokab Askary<br/>
                 WebMaster:kokabaskary@gmail.com</div>
            </footer>
        </div>
    </body>
</html>