<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Grid Terminologies</title>
	<link rel="stylesheet" type="text/css"
	href="../styles/flexBoxExternalStyleSheet.css">
	</head>
	<body>
		<header>
			<!-- This is the page header containing navagation links and logo -->
	
			<div id="top"></div>
			<!-- link from footer of the page to the top -->
	
			<center>
				<h1>Let's Learn About Css Grid Terminologies</h1>
			</center>
			<! -- Include a nav to link other pages -->
	
	
			<div class="menu_container">
				<div class="menu_item">
					<img alt="logo" src="./images/logo.jpg">
				</div>
				<div class="menu_item">
					<nav>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="#">Grid Terminologies</a></li>
							<li><a href="#"></a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- end of menu container -->
		</header>
		<!-- End of header section -->
	
		<div class="mainContainer">
			<h1>Grid Terminology</h1>
			<p class="text_paragraph">There are a few bits of terminology that are introduced by the
				Grid Layout specification. I've explained them here as they will make
				the examples easier to follow.</p>
	
			<h2>Grid Lines</h2>
			<img alt="grid lines" src="../images/concepts-lines.png">
	
			<p id="italic">The highlighted line in this image is column line2.</p>
			<p class="text_paragraph">Grid Lines are the lines that make up the grid. These can be
				horizontal or vertical. We can refer to them by number, or by name.</p>
	
			<h2>Grid Tracks</h2>
			<img alt="grid tracks" src="../images/concepts-track.png">
	
			<p id="italic">The highlighted Grid Track in this image is between
				row lines 2 and 3.</p>
			<p class="text_paragraph">A Grid Track is the space between two Grid Lines, either
				horizontal or vertical.</p>
	
			<h2>Grid Cell</h2>
			<img alt="grid tracks" src="../images/concepts-cell.png">
	
			<p id="italic">The highlighted Grid Cell in this image is between
				row lines 2 and 3 and column lines 2 and 3.</p>
			<p class="text_paragraph">A Grid Cell is the space between 4 Grid Lines. So it is the
				smallest unit on our grid that is available for us to place an item
				into. Conceptually it is just like a table cell.</p>
	
			<h2>Grid Area</h2>
			<img alt="grid tracks" src="../images/concepts-area.png">
	
			<p id="italic">The highlighted Grid Area in this image is between
				row lines 1 and 3 and column lines 2 and 4.</p>
			<p class="text_paragraph">A Grid Area is any area on the Grid bound by four grid lines. It may contain a number of Grid Cells.</p>
	
		</div>
	
	
	
	
	
	
	
	
	
		<footer>
			<div class="footer">
			<!-- This is the page footer containing link to top of page, copyright, webmaster information -->
				<a href="#top">Go to top</a>
				<p>CopyRight &copy 2019</p>
				<p>Updated: Feb 14,2019</p>
				<p>webmaster: kokabaskary@sample.com</p>
			</div>
		</footer>
	</body>
</html>