<!DOCTYPE html>
<html>
        <head>
        <meta charset="ISO-8859-1">
        <title>Grid</title>
        <link rel="stylesheet"
                type="text/css" href="../styles/grid3ColumnStyleSheet.css"/>
                <link rel="stylesheet"
                type="text/css" href="../styles/familyAlbumStyleSheet.css"/>
        </head>
        <body>


            <div class="grid">
            <header>
                <nav class="flex-container menuBackground">
                     
                     <ul class="nav  flex-container">
                         <li><a href="../index.html">Home</a></li>
                         <li><a href="ourStory.html">Our Story</a></li>
                         <li><a href="familyTree.html">Family Tree</a></li>
                         <li><a href="contactUs.html">Keep In Touch</a></li>
                         <li><a href="photosVideos.html">Photos & Videos</a></li>
                     </ul>
                    </nav>
               
            </header>

            <aside class="sidebar-left">
                Left Sidebar
            </aside>

            <article>
                Article
            </article>

            <aside class="sidebar-right">
                Right Sidebar
            </aside>
            
            <footer>
                Footer
            </footer>
            </div>

        </body>
</html>