<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>FlexBox</title>
	<link rel="stylesheet"
		  type="text/css"
		  href="../styles/flexBoxExternalStyleSheetSlide27Dropdown.css">
	</head>
	<body>
		<div class ="menu_container">
			<div class="menu_item">
				<p>Logo</p>
			</div>
			<div class="menu_item">
				<nav>
					<ul>
						<li>
							
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div><!-- end of menu container -->
		
		<div class="title_container"><!-- begining of title container -->
			<h1>Page Heading</h1>
			<h3>Secondary Text</h3>
		</div>
		
        <div class="main_content"><!--The main content helping us layout more geometry on the page this is helpful 
        if more container needs to be added-->
			<div class="sub_main"><!--flex container-->
				<div class="main-items"><!--Flex-item-->
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project One</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Two</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Three</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Four</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Five</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Six</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Seven</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
				<div class="main-items">
					<div class="img">
						<img src=""/>
					</div>
					<div class="img_content">
						<h4>Project Eight</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
					  	 	ut aliquip ex ea commodo consequat.
					  	 </p>
					 </div>
				</div>
			</div>
		</div>
		
	</body>
</html>