<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>ng-app Directive</title>
    <script src="js/angular.min.js"></script>
    </head>
    <!-- <body > -->
        <!-- <h1>Angular Expression Demo:</h1>
        <div ng-app ng-init="Greet='Hello World!!';
            amount = 10000; rateOfInterest = 10.5; duration=10;
            myArr = [100,200];
            person = {firstName: 'Steve', lastName :'Jobs'}">
                 {{(amount * rateOfInterest * duration)/100}}<br>
                 {{myArr[1]}}<br>
                 {{person.firstName + " " + person.lastName}}
           
        </div>                                                                                                                                                           -->

      
        <!-- *********************Slide 20******************************* -->
        
          <!-- <div ng-app ng-init="Greet='Hello World!!';
                amount = 100; myArr = [100,200];
                person = {firstName: 'Steve', lastName :'Jobs'}">
                 {{amount}}<br>
                 {{myArr[1]}}<br>
                 {{person.firstName}}
           
        </div> -->

         <!-- *********************Slide 21 ng-model******************************* -->
        
        <!-- <body ng-app>
            <input type ="text" ng-model="name">
            <div>
                Hello  {{name}}
            </div> -->

            <!-- *********************Slide 21 ng-model******************************* -->
        <body ng-app>
            <div>
                5+5 = <span ng-bind = "5+5"></span><br>

                Enter your name: <input type ="text" ng-model="name"><br>
                Hello <span ng-bind = "name"></span>
            </div>

            

    </body>
</html>