<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Red Form</title>
	<link rel="stylesheet"
		type="text/css"
		href="../styles/redFormStyleSheet.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="greycontainer">
			<div class="redform">
				<i class="fa fa-close icon" style="font-size:25px;color:white; margin-top:-6%;" ></i>
				<h1 class="text">Get in touch</h1>
				<p >Good choice</p>
				<div class="form">
				<input class="color noshadow" id="name" type="text" placeholder="type your name" ><br/><br/>
				<input class="color" id="email" type="email" placeholder="type contact email"><br/><br/>
				<select class="color" name ="project" id="project" ><br/><br/>
					<!-- The <optgroup> is used to group related options in a drop-down list -->
						<optgroup class="color" >
							<option value ="1" disabled selected >About new project</option>
							<option value ="java">Java</option>
							<option value ="sql">SQL</option>
							<option value ="html">HTML</option>
						</optgroup>
				</select><br/><br/>
				<textarea  class="color"rows="5" cols="15">How can I help you</textarea>
				<button id="backcolor">Send message</button>
				</div>
			
			
			</div>
		
	
		</div>
	</body>
</html>