<!DOCTYPE html>
<html>
    <head>
        <title>scss</title>
        <meta charset="ISO-8859-1">
         <link rel="stylesheet"
                type="text/css"
                media="screen"
                href="../styles/sample02.css"
    
    </head>
    <body>
        <div class="main_container">
            <nav>
                <ul>
                    <li>Home</li><br/><br/>
                    <li>About</li><br/><br/>
                    <li>Contact</li>
                    
                </ul>

            </nav>
            <a>xxx</a>
        </div>
    </body>
</html>