<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Form Validation</title>
		<link rel="stylesheet"
		  type="text/css"
		  href="../styles/formValidationExternalStyleSheet.css">
	</head>
	<body>
		<form >
		<label for= "username">Enter Your User Name</label>
		<input id="username" name="username" 
				type="email" placeholder="sample@domain.com"
				required>
				<label for username>Enter Your User Name</label>
		<input id="username1" name="username1" 
				type="email" placeholder="sample@domain.com"
				required autofocus>
				<button>Submit</button>
		
		
		</form>
		
	</body>
</html>
