<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Video</title>
</head>
<body>
	<video src="../videos/SampleVideo_1280x720_2mb.mp4"
		   poster="../images/bunny.jpg"
		   width="300"
		   height="200"
		   loop muted autoplay controls>
		   <img src="../images/bunny.jpg">
	</video>
</body>
</html>

<iframe width="560" height="315"
 src="https://www.youtube.com/embed/L0MK7qz13bU"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
   picture-in-picture" allowfullscreen></iframe>
   
   <iframe width="300" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-152.05078125%2C22.105998799750566%2C-61.52343750000001%2C51.06901665960392&amp;layer=mapnik"
     style="border: 1px solid black">
   </iframe><br/><small><a href="https://www.openstreetmap.org/#map=4/38.00/-106.79">View Larger Map</a></small>