<!DOCTYPE html>
	<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Media Query</title>
			<link rel="stylesheet"
				  type="text/css"
				  href="../style/animationsExternalStyleSheet3.css">
	</head>
	<body>
		
		
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				  	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
				  	 ut aliquip ex ea commodo consequat.
				  	 </p>
				
		</div>
	</body>
</html>